# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

api-key.txt

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
python/README.md
python/LICENSE

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.hw_api_key
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Java
.idea
.vscode
*.iml
target/
**target/
# Mac
.DS_Store

# mkdocs intemediate files
docs/generated

miniconda
.installed
**.pkl
**predict_example.py
integrations/dbt/tests/.gitkeep
integrations/dbt/snapshots/.gitkeep
integrations/dbt/seeds/.gitkeep
integrations/dbt/macros/.gitkeep
integrations/dbt/analyses/.gitkeep
churn/churn_model/confusion_matrix.png
fraud_batch/fraud_batch_model/confusion_matrix.png
fraud_online/fraud_online_model/confusion_matrix.png
advanced_tutorials/air_quality/air_quality_model/residplot.png
advanced_tutorials/nyc_taxi_fares/nyc_taxi_fares_model/residplot.png
advanced_tutorials/citibike/data/stations_info.csv
advanced_tutorials/citibike/data/__MACOSX/._202205-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202204-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202203-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202202-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202201-citibike-tripdata.csv
advanced_tutorials/citibike/data/202205-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202204-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202203-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202202-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202201-citibike-tripdata_processed.csv
advanced_tutorials/citibike/citibike_xgb_model/residplot.png
advanced_tutorials/credit_scores/credit_scores_model/confusion_matrix.png
advanced_tutorials/credit_scores/credit_scores_model/feature_importance.png
advanced_tutorials/electricity/electricity_price_model/variables/variables.index
advanced_tutorials/electricity/electricity_price_model/variables/variables.data-00000-of-00001
advanced_tutorials/electricity/electricity_price_model/saved_model.pb
advanced_tutorials/electricity/electricity_price_model/fingerprint.pb
advanced_tutorials/recommender-system/transformations.py
advanced_tutorials/timeseries/price_model/model_prediction.png
iris/iris_model/confusion_matrix.png
quickstart_fraud_model/confusion_matrix.png
advanced_tutorials/citibike/data/202301-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202302-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202303-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202304-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/202305-citibike-tripdata_processed.csv
advanced_tutorials/citibike/data/__MACOSX/._202301-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202302-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202303-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202304-citibike-tripdata.csv
advanced_tutorials/citibike/data/__MACOSX/._202305-citibike-tripdata.csv
loan_approval/lending_model/roc_curve.png
advanced_tutorials/timeseries/price_model/model_prediction.png
advanced_tutorials/recommender-system/query_model/variables/variables.index
advanced_tutorials/recommender-system/query_model/variables/variables.data-00000-of-00001
advanced_tutorials/recommender-system/query_model/saved_model.pb
advanced_tutorials/recommender-system/query_model/fingerprint.pb
advanced_tutorials/recommender-system/candidate_model/variables/variables.index
advanced_tutorials/recommender-system/candidate_model/variables/variables.data-00000-of-00001
advanced_tutorials/recommender-system/candidate_model/fingerprint.pb
advanced_tutorials/recommender-system/candidate_model/saved_model.pb
integrations/neo4j/aml_model/*
integrations/neo4j/aml_model_transformer.py
advanced_tutorials/recommender-system/catboost_info/catboost_training.json
advanced_tutorials/recommender-system/catboost_info/learn/events.out.tfevents
*.tsv
advanced_tutorials/recommender-system/catboost_info/test/events.out.tfevents
advanced_tutorials/recommender-system/querymodel_transformer.py
advanced_tutorials/recommender-system/ranking_transformer.py
advanced_tutorials/recommender-system/ranking_predictor.py
integrations/java/flink/dependency-reduced-pom.xml
