faker
Pandas
numpy
xgboost
python-dotenv
parsedatetime
hopsworks[python,polars,great-expectations] @ git+https://github.com/logicalclocks/hopsworks-api@main#subdirectory=python
jupyter
ipykernel
nbconvert
scikit-learn
plotly
Pillow
matplotlib
seaborn
xgboost
joblib
textblob
tensorflow
torch
geopy
