pandas==1.5.3
numpy==1.24.2
tensorflow==2.11.0
keras==2.11.0
matplotlib==3.7.0
matplotlib-inline==0.1.6
nvidia-ml-py==12.535.133
nvidia-ml-py3==7.352.0
scikit-learn==1.1.1
scipy==1.11.4
seaborn==0.12.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.11.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io==0.29.0
tensorflow-io-gcs-filesystem==0.29.0
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tornado==6.1
tqdm==4.64.1
xgboost==1.7.4
